<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <check if="{{ @server->id }}">
                    <true>
                        {{ @server->servername }}
                    </true>
                    <false>
                        Tambah Server
                    </false>
                </check>
            </h1>
        </div>
    </div>
    <div class="row">
        <check if="{{ @message }}">
            <div class="col-lg-12">                    
                <div class="alert alert-{{ @message['type'] }}">{{ @message['data'] }}</div>
            </div>
        </check>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-gear fa-fw"></i> Server Settings
                </div>
                <div class="panel-body">
                    <form role="form" action="{{ @URI }}" method="POST">
                        <div class="form-group">
                            <label>Nama Server</label>
                            <input class="form-control" placeholder="Server Demo 1" name="servername" type="text" value="{{ @server->servername }}" required>
                        </div>
                        <div class="form-group">
                            <label>Lokasi Server</label>
                            <input class="form-control" placeholder="Singapore" name="country" type="text" value="{{ @server->country }}" required>
                        </div>
                        <div class="form-group">
                            <label>IP / Host</label>
                            <input class="form-control" placeholder="192.168.1.1 atau www.example-server.com" name="host" type="text" value="{{ @server->host }}" required>
                        </div>
                        <div class="form-group">
                            <label>Harga Sewa / Bulan</label>
                            <div class="input-group">
                                <span class="input-group-addon">Rp. </span>
                                <input class="form-control" placeholder="10000" name="price" type="number" step="100" value="{{ @server->price }}" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Root Password</label>
                            <input class="form-control" placeholder="r0oT_p4s5wo0rD" name="root_pass" type="password">
                        </div>
                        <button class="btn btn-primary">Simpan</button>
                        <check if="{{ @server->id }}">
                            <check if="{{ @server->active==1 }}">
                                <true>
                                    <a href="{{ @URI.'/active/0' }}" class="btn btn-warning">Lock</a>
                                </true>
                                <false>
                                    <a href="{{ @URI.'/active/1' }}" class="btn btn-success">Unlock</a>
                                </false>
                            </check>
                            <a href="{{ @URI.'/delete' }}" class="btn btn-danger hapus">Hapus</a>
                        </check>
                        <a href="/home/admin/server" class="btn btn-default">Kembali</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>